@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap; }

body {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
  min-height: 870px;
  font-size: 16px; }

.test1 {
  background-color: red;
  width: 270px; }

.main__part {
  background-color: blue;
  width: 1530px; }

.navigation {
  width: 270px;
  background-color: #243b4f;
  color: #ffcc00;
  font-family: 'OpenSans';
  padding-top: 40px; }
  .navigation a {
    color: #ffcc00;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 7px; }
  .navigation ul {
    padding: 0;
    margin: 0; }
  .navigation li {
    list-style: none; }

.navigation__title {
  color: #c8c8c8;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px; }

.navigaion__image {
  display: block;
  width: 180px;
  height: 70px;
  background-image: url(../../img/logo_big.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 75px; }

.navigation__list {
  display: block;
  width: 100%;
  overflow: auto; }

.navigation__link {
  display: block;
  width: 100%;
  padding-left: 30px;
  cursor: pointer; }
  .navigation__link:hover {
    background-color: rgba(67, 116, 155, 0.15); }
  .navigation__link:active {
    background-color: #345977;
    opacity: 0.5; }

.navigation__link--active {
  background-color: rgba(67, 116, 155, 0.3); }
  .navigation__link--active .navigation__text {
    font-weight: 700;
    opacity: 1; }

.navigation__icon {
  width: 28px;
  display: inline-block; }

.top-bar {
  width: 100%;
  background-color: #ffffff;
  min-height: 70px;
  box-sizing: border-box;
  margin: 0;
  padding-right: 25px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }

.top-bar__burger {
  display: block;
  float: left;
  width: 50px;
  height: 60px;
  cursor: pointer;
  margin-top: 6px;
  text-align: center; }
  .top-bar__burger i {
    margin-top: 16px;
    font-size: 20px; }

.top-bar__users {
  display: block;
  width: 400px;
  float: right;
  margin-top: 17px; }

.top-bar__user-acc {
  display: block;
  width: 180px;
  height: 50px;
  float: right;
  margin-left: 25px;
  margin-top: 10px; }

.users__text {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  float: left;
  display: block;
  height: 36px;
  margin-right: 30px;
  padding-top: 6px; }

.users__number {
  width: 215px;
  float: left;
  display: flex;
  justify-content: space-between; }

.users__item {
  font-family: 'Raleway';
  font-size: 24px;
  color: #ffffff;
  display: block;
  width: 30px;
  height: 36px;
  text-align: center;
  border-radius: 4px;
  background-color: #243b4f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }

.user-acc {
  display: block;
  float: right;
  width: 170px; }

.user-acc__dropdown {
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Raleway';
  font-size: 20px;
  padding-top: 10px;
  border: none;
  display: block;
  float: left;
  width: 125px;
  outline: none; }
  .user-acc__dropdown:hover, .user-acc__dropdown:focus {
    background-color: #ffffff;
    color: #000000; }

.user-acc__picture {
  display: block;
  float: right;
  width: 45px;
  height: 45px;
  margin-top: 2px;
  border-radius: 50%;
  background-color: #43749b;
  background-image: url(../../img/avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }
  .user-acc__picture a {
    width: 100%;
    height: 50px;
    z-index: 10;
    outline: 1px solid black; }

.content {
  min-height: 200px;
  color: #243b4f; }

.content-row {
  width: 100%;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 10px;
  padding-top: 15px; }

.content__title {
  text-transform: uppercase;
  font-family: 'Raleway-Bold';
  font-size: 32px;
  margin-bottom: 0px; }

.content__title-text {
  font-size: 16px;
  font-family: 'Raleway';
  line-height: 1.5; }

.card__button {
  background-color: #ffcc00;
  color: #000000;
  font-family: 'Raleway-Bold';
  border-radius: 0;
  border: none;
  width: 215px;
  height: 35px;
  vertical-align: center; }

.card__button--float-left {
  float: right;
  display: block; }

.card__text {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.row--600 {
  width: 600px; }

.card__wrapper {
  width: 100%;
  min-height: 320px;
  background-color: red;
  margin-top: 30px;
  margin-bottom: 30px; }

@media (max-width: 540px) {
  .card__button {
    width: 100%; } }

.main-navigation {
  padding: 0;
  padding-top: 10px; }
  .main-navigation .nav-item {
    font-size: 14px;
    font-family: 'Raleway'; }
    .main-navigation .nav-item .nav-link {
      padding-right: 30px;
      color: #ffffff; }
    .main-navigation .nav-item .card__button {
      text-transform: uppercase;
      font-family: 'Raleway-Bold'; }

.navbar-toggler {
  border: none;
  color: #ffffff; }
  .navbar-toggler i {
    color: white;
    font-size: 30px; }

.navbar-expand-lg {
  padding-bottom: 5px; }

.main-navigation__wrapper {
  padding-top: 0;
  padding-bottom: 0; }

.main-navigation__section {
  background-image: linear-gradient(to bottom, rgba(36, 59, 79, 0.84) 0%, rgba(36, 59, 79, 0.84) 100%), url(../img/header_background.jpg);
  background-color: #243b4f; }

.main-navigation__title {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 95px;
  font-size: 36px;
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px; }

.main-navigation__text {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 55px;
  font-family: "Raleway";
  line-height: 25px; }

.main-navigation__block {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 70px;
  background-image: linear-gradient(to right, rgba(36, 59, 79, 0.65) 0%, rgba(36, 59, 79, 0.65) 100%); }

.main-navigation__block-image {
  text-align: left;
  padding: 0;
  padding-top: 10px; }

.main-navigation__block-text {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 31px; }

.main-navigation__block-paragrath {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.5; }

.main-navigation__block-table {
  text-align: center;
  padding-top: 10px; }

.main-navigation__table {
  margin-top: 20px;
  margin-bottom: 20px; }

.main-navigation__table-item {
  display: block;
  position: relative;
  float: left;
  width: 25%;
  border-right: 4px solid #ffcc00; }
  .main-navigation__table-item span:first-child {
    color: #ffcc00;
    width: 100%;
    display: block;
    font-family: 'Montserrat' ,sans-serif;
    font-size: 66px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
    margin-top: 0; }
  .main-navigation__table-item span:last-child {
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat' ,sans-serif; }

.main-navigation__table-item:last-child {
  border: none; }

.main-navigation__block-table-header {
  font-size: 20px;
  font-family: 'Raleway'; }

@media (max-width: 992px) {
  .main-navigation__block-image {
    text-align: center; }
    .main-navigation__block-image img {
      width: 100%; }
  .main-navigation .navbar {
    border-bottom: 1px solid #ffffff; }
  .navbar-expand-lg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); } }

@media (max-width: 540px) {
  .main-navigation__section {
    background-image: linear-gradient(to right, rgba(36, 59, 79, 0.84) 0%, rgba(36, 59, 79, 0.84) 100%), url(../img/header_background_mobile.jpg);
    background-color: #243b4f; }
  .main-navigation__title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .main-navigation__text {
    font-size: 14px;
    margin-bottom: 10px; }
  .main-navigation__block {
    border: none;
    background-image: linear-gradient(to right, rgba(36, 59, 79, 0.7) 0%, rgba(36, 59, 79, 0.7) 100%), no-repeat;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px; }
  .main-navigation__block-text {
    font-size: 16px; }
  .main-navigation__block-paragrath {
    font-size: 14px; }
  .main-navigation__block-table-header {
    font-size: 14px; }
  .main-navigation__table-item span:first-child {
    font-size: 35px;
    height: auto;
    line-height: normal;
    margin-bottom: 10px; }
  .main-navigation__table-item span:last-child {
    font-size: 10px; } }

.partners__section {
  background: #f5f5f5;
  overflow: auto;
  padding-right: 15px;
  padding-left: 15px; }

.partners__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  margin-top: 16px;
  margin-bottom: 7px;
  color: #20394e; }

.partners__item {
  display: block;
  margin-bottom: 20px; }

.partners__item:nth-child(9) {
  margin-top: -3px; }

@media (max-width: 540px) {
  .partners__section {
    padding: 0;
    background-color: #e1e1e1; }
  .partners__header {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 25px; }
  .partners__item {
    width: 40%;
    text-align: center; }
  .partners__item:nth-child(9) {
    margin-top: 0px; } }

.what-is__section {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: #f0f0f0;
  background-image: url(../img/what-is_background.jpg);
  background-repeat: repeat;
  background-position: center top; }

.what-is__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #20394e; }

.what-is__text {
  font-size: 20px;
  font-family: 'Raleway';
  color: #20394e;
  line-height: 1.25; }

@media (max-width: 540px) {
  .what-is__section {
    padding-bottom: 0px; }
  .what-is__header {
    font-size: 24px;
    margin-top: 20px; }
  .what-is__text {
    font-size: 14px; } }

.IEO__section {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: #243b4f;
  background-image: linear-gradient(to right, rgba(36, 59, 79, 0.9) 0%, rgba(36, 59, 79, 0.9) 100%), url(../img/IEO_background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;
  position: relative; }

.IEO__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  color: #ffcc00;
  margin-top: 55px;
  margin-bottom: 60px; }

.IEO__picture {
  margin-bottom: 100px; }

.IEO__text-item {
  width: 360px;
  margin-bottom: 15px;
  position: absolute;
  top: 0; }
  .IEO__text-item span {
    display: block;
    width: 58px;
    height: 58px;
    background-color: #ffcc00;
    text-align: center;
    font-size: 38px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #ffffff;
    float: left;
    margin-right: 15px;
    margin-top: 2px; }
  .IEO__text-item p {
    font-size: 20px;
    font-family: 'Raleway';
    color: #ffffff;
    line-height: 1;
    display: block;
    float: left;
    width: calc(100% - 73px);
    margin-bottom: 0; }

.IEO__text-item:nth-child(2) {
  left: 56.9%;
  top: 210px; }

.IEO__text-item:nth-child(3) {
  left: 51.8%;
  top: 468px; }

.IEO__text-item:nth-child(4) {
  right: 56.5%;
  top: 253px; }

.IEO__text {
  font-size: 20px;
  font-family: 'Raleway';
  color: #ffffff;
  line-height: 1.25;
  margin-bottom: 15px; }

.IEO__block-wrapper {
  margin-bottom: 35px; }

.IEO__block-header {
  color: #ffcc00;
  font-size: 26px;
  font-family: 'Raleway-Bold';
  text-align: center;
  margin-bottom: 25px;
  vertical-align: middle; }
  .IEO__block-header img {
    margin-top: -7px;
    margin-right: -20px; }

.IEO__block-item {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #20394e;
  background-color: #ffffff;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 17px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); }
  .IEO__block-item span:nth-child(2) {
    float: right; }

@media (max-width: 991.8px) {
  .IEO__text-item {
    position: static;
    width: 100%; }
  .IEO__picture {
    margin-bottom: 40px; } }

@media (max-width: 540px) {
  .IEO__section {
    padding-bottom: 25px; }
  .IEO__header {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .IEO__text-item {
    width: auto;
    position: static;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px; }
    .IEO__text-item p {
      font-size: 16px; }
    .IEO__text-item span {
      width: 36px;
      height: 36px;
      font-size: 24px;
      margin-top: 6px; }
  .IEO__text {
    font-size: 14px; }
  .IEO__block {
    padding: 0; }
  .IEO__block-item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 14px; }
    .IEO__block-item span:nth-child(1) {
      font-weight: 500;
      width: 100%;
      display: block; }
    .IEO__block-item span:nth-child(2) {
      float: left;
      width: 100%;
      display: block; } }

.IEO-table__section {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: #cbcfd2;
  background-image: linear-gradient(to right, rgba(203, 207, 210, 0.92) 0%, rgba(203, 207, 210, 0.92) 100%), url(../img/IEO-table_background.png);
  background-repeat: no-repeat;
  background-position: 0 150px; }

.IEO-table__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #20394e;
  margin-top: 55px;
  margin-bottom: 25px; }

.IEO-table__text {
  font-size: 20px;
  font-family: 'Raleway';
  color: #20394e;
  line-height: 1.25;
  margin-bottom: 15px; }

.IEO-table__table-header {
  background-color: #243b4f;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway-Bold'; }
  .IEO-table__table-header th {
    padding-top: 18px;
    padding-bottom: 17px; }

.IEO__table-block-new {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 0;
  background-color: #243b4f;
  color: #ffcc00;
  font-family: 'Montserrat';
  margin-top: 15px;
  margin-bottom: 20px;
  background-image: url("../img/IEO-table-block-background.png");
  background-size: cover;
  background-position: right; }

.IEO__table-block-new-header {
  font-size: 36px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0; }

.IEO__table-block-new-text {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 20px; }

.IEO__table-block-new-text-small {
  font-size: 18px;
  line-height: 1.25; }

.IEO-table__table-new {
  width: 75%;
  margin-bottom: 20px; }

.IEO-table__table-header-new th {
  padding-left: 40px;
  padding-right: 0px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 6px; }

.IEO-table__table-body-new td {
  padding-left: 40px;
  padding-right: 0px;
  font-size: 28px;
  color: #ffffff; }

.IEO-table__table-body-new td:nth-child(2n+1) {
  width: 40%; }

.IEO-table__table-body-new td:nth-child(2n) {
  width: 60%; }

.IEO-table__table-body-new tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.2); }

.IEO-table__table-body-new tr:nth-child(2n) td {
  padding-top: 12px;
  padding-bottom: 13px; }

.IEO-table__table-mobile {
  width: 100%; }

.IEO-table__table-body-mobile-new tr:nth-child(4n+1) {
  background-color: rgba(255, 255, 255, 0.2); }

.IEO-table__table-body-mobile-new tr:nth-child(4n+2) {
  background-color: rgba(255, 255, 255, 0.2); }

.IEO-table__table-body-mobile-new td {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.5; }

.IEO-table__table-body-mobile-new th {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.5; }

.IEO-table__table-body-mobile-new td:nth-child(2n) {
  text-align: right;
  color: #ffffff; }

.IEO-table__table {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.IEO-table__table-body td, .IEO-table__table-body th {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 20%; }

.IEO-table__table-body tr:nth-child(2n+1) {
  background-color: #fffbeb; }

.IEO-table__table-body tr:nth-child(2n) {
  background-color: #ffffff; }

.IEO-table__table-mobile {
  margin-bottom: 20px; }

.IEO-table__table-mobile-header {
  background-color: #243b4f;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway-Bold'; }
  .IEO-table__table-mobile-header th {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px; }
  .IEO-table__table-mobile-header th:first-child {
    text-align: left; }
  .IEO-table__table-mobile-header th:last-child {
    text-align: right;
    text-transform: none; }

.IEO-table__table-mobile-body td, .IEO-table__table-mobile-body th {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px; }

.IEO-table__table-mobile-body th {
  text-transform: uppercase; }

.IEO-table__table-mobile-body td:nth-child(2n+1), .IEO-table__table-mobile-body th:nth-child(2n+1) {
  text-align: left; }

.IEO-table__table-mobile-body td:nth-child(2n), .IEO-table__table-mobile-body th:nth-child(2n) {
  text-align: right; }

.IEO-table__table-mobile-body tr:nth-child(2n+1) {
  background-color: #fffbeb; }

.IEO-table__table-mobile-body tr:nth-child(2n) {
  background-color: #ffffff; }

.IEO-table__button {
  margin-top: 50px; }

@media (max-width: 1200px) {
  .IEO__table-block-new {
    background-image: linear-gradient(to right, rgba(23, 42, 82, 0.43) 0%, rgba(23, 42, 82, 0.43) 100%), url("../img/IEO-table-block-background.png");
    background-position: right; }
  .IEO-table__table-new {
    width: 100%; } }

@media (max-width: 540px) {
  .IEO-table__section {
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgba(203, 207, 210, 0.8) 0%, rgba(203, 207, 210, 0.8) 100%), url(../img/IEO-table_background.png);
    background-repeat: no-repeat;
    background-position: top;
    box-sizing: 500px; }
  .IEO__table-block-new {
    background-image: linear-gradient(to right, rgba(23, 42, 82, 0.1) 0%, rgba(23, 42, 82, 0.1) 100%), url("../img/IEO-table-block-background-mobile.png");
    background-size: cover;
    background-position: right; }
  .IEO-table__header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .IEO-table__text {
    font-size: 14px; }
  .IEO-table__table-new {
    display: none; }
  .IEO-table__table-mobile {
    display: static; }
  .IEO-table__button {
    margin-top: 10px;
    margin-bottom: 10px; }
  .IEO__table-block-new-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px; }
  .IEO__table-block-new-text {
    font-size: 18px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 35px; }
  .IEO__table-block-new-text-small {
    font-size: 14px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 25px; } }

@media (min-width: 539.8px) {
  .IEO-table__table {
    display: static; }
  .IEO-table__table-mobile {
    display: none; } }

.eFin__section {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: #243b4f;
  background-image: url(../img/eFin_background.png);
  background-position: center; }

.eFin__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #ffcc00;
  margin-top: 45px;
  margin-bottom: 15px; }

.eFin__text {
  font-size: 20px;
  font-family: 'Raleway';
  color: #ffffff;
  line-height: 1.25;
  margin-bottom: 15px; }

.eFin__button {
  margin-top: 25px;
  margin-bottom: 10px; }

@media (max-width: 540px) {
  .eFin__section {
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgba(36, 59, 79, 0.6) 0%, rgba(36, 59, 79, 0.6) 100%), url(../img/eFin_background_mobile.png);
    background-position: center;
    background-repeat: no-repeat; }
  .eFin__header {
    font-size: 24px;
    margin-top: 20px; }
  .eFin__text {
    font-size: 14px; }
  .eFin__button {
    margin-top: 10px; } }

.footer__section {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: #f0f0f0;
  background-image: linear-gradient(to right, rgba(240, 240, 240, 0.5) 0%, rgba(240, 240, 240, 0.5) 100%), url(../img/footer_background.png);
  background-repeat: no-repeat;
  background-position: center; }

.footer__header {
  text-align: center;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  margin-top: 45px;
  margin-bottom: 30px;
  color: #20394e; }

.footer__text {
  font-size: 20px;
  font-family: 'Raleway';
  color: #20394e;
  line-height: 1.25;
  margin-bottom: 10px; }

.footer__form {
  padding: 0; }

.footer__input {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 16px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #20394e; }

.footer__button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  height: 40px;
  padding-top: 10px; }

.footer__link {
  padding-left: 7%; }

.footer__links {
  padding: 0;
  margin: 0; }
  .footer__links li {
    padding: 0;
    list-style: none;
    vertical-align: middle;
    display: flex;
    margin-bottom: 6px; }
  .footer__links a {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px; }
  .footer__links i {
    font-size: 32px;
    color: #20394e;
    display: inline-block;
    width: 45px; }

@media (max-width: 540px) {
  .footer__header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .footer__text {
    font-size: 14px; }
  .footer__form {
    padding: 0; }
  .footer__input {
    padding-top: 12px;
    padding-bottom: 14px;
    margin-bottom: 20px; }
  .footer__button {
    margin-top: 5px;
    margin-bottom: 30px; }
  .footer__link {
    padding: 0; }
  .footer__links a {
    font-size: 14px; } }
